<!DOCTYPE html><html><head>
<meta charset="UTF-8">
<title>forpickup.co</title>
<meta name='viewport' content='width=device-width,initial-scale=1,user-scalable=no'/>
<meta name='apple-mobile-web-app-capable' content='yes'/>
<meta name='apple-mobile-web-app-status-bar-style' content='white'/>
<meta property="og:title" content="forpickup.co"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://forpickup.co"/>
<meta property="og:image" content=""/>
<meta property="og:site_name" content="forpickup.co"/>
<meta property="og:description" content=""/>
</head><body>
<script>dataLayer=[{version:'<%=htmlWebpackPlugin.options.pkg.version%>'}]</script>
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=[[googleid]]"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','[[googleid]]');</script>
<div id='browserIncompatible' style='display:none;background-color:#fff;height:100vh;text-align:center;'><br/><br/><br/>
<h2><img src='./forpickup.png' alt='forpickup.co'/></h2>
<p style='margin:0 auto;max-width:350px;padding:20px'>forpickup.co sadly doesn't support your browser.</p>
<p style='margin:0 auto;max-width:350px;padding:20px;font-weight:700'>Try a compatible browser that you can get for free at one of the links below.</p>
<ul style='list-style:none;-webkit-padding-start:0'>
<li><a href='https://www.google.com/chrome/browser'>Google Chrome</a><br/><br/></li>
<li><a href='https://www.mozilla.org/en-US/firefox/products/'>Mozilla Firefox</a><br/><br/></li>
<li><a href='https://www.microsoft.com/en-us/download/details.aspx?id=48126'>Microsoft Edge</a></li>
</ul></div></body></html>
<!-- Version: <%= htmlWebpackPlugin.options.pkg.version %> - <%= (new Date()).toISOString() %> //-->
