.method {
  composes: option from "../shared/Option/Option.css";
}

.method:before {
  content: '';
  display: block;
  border: 1px solid #eee;
  border-radius: 2px;
  width: 2.4em;
  height: 1.6em;
  margin: -0.25em .6em -0.35em 0;
  background: url(./methods.svg);
  background-repeat: no-repeat;
  background-size: 2.4em auto;
  background-color: #fff;
  flex: none;
}

.default:before {
  background: linear-gradient(#fff 18%, #ccc 19%, #ccc 37%, #fff 38%);
}

.visa:before {
  background-position: 0 66%;
}

.mastercard:before {
  background-position: 0 33%;
}

.americanexpress:before {
  background-position: 0 0;
}

.jcb:before {
  background-position: 0 16.8%;
}

.discover:before {
  background-position: 0 83%;
}

.paypal:before {
  background-position: 0 49.2%;
}

.dinersclub:before {
  background-position: 0 99.3%;
}

.discount:before {
  content: '$';
  color: #d70c19;
  text-align: center;
  line-height: 1.5em;
  background-image: none;
  font-weight: bold;
}

.adddiscount {
  composes: option from "../shared/Option/Option.css";
  padding-left: calc(3.3em + 10px);
}

.addpayment {
  composes: navigatable highlight from "../shared/Option/Option.css";
}

.ccnumber {
  border-bottom: 0;
}
